@model IEnumerable<WebApplicationBanco.Models.OrdenPagoViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Ordenes de Pago por Tipo de Moneda", "OrdenPagoByMoneda")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdenPagoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonedaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SucursalID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenPagoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonedaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SucursalID)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.OrdenPagoID }) |
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.OrdenPagoID })
        </td>
    </tr>
}

</table>
